.profile__container {
    display: flex;
    justify-content: center;
}
.profile__contents {
    border-radius:10px;
    background: linear-gradient(90deg, #9da9c5 0%, #42c2e2 100%);
    margin-top:50px;
    padding:200px;
}